.Book {
    font-family: sans-serif;
    text-align: center;
    outline: none;
    background: none !important;
    z-index: 999999999999999999999999999;
}

.backstory {
    background: linear-gradient(90deg, rgba(196, 183, 244, 1) 0%, rgba(40, 134, 171, 1) 98%, rgba(0, 0, 0, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.App-Book {
    margin: 1in auto;
    background-color: transparent !important;
}

article {
    position: relative;
}

article h1 {
    margin: 10pt;
    position: relative;
}

.App-Book,
.App-Book .ReactFlipPage {
    background-color: transparent !important;
}

.ReactFlipPage,
.ReactFlipPage-Page {
    background-color: transparent !important;
}

.App-Title {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    top: 0;
    background-color: #ff04;
}

.App-Page-Last {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #fff5f5;
    /* Ensure this color is correct */
}

.App-Page-Last h1 {
    font-size: 3em;
}


/* Make .App-Book and its children have a transparent background */
.App-Book {
    background-color: transparent !important;
    width: 40% !important;
}

.App-Book * {
    background-color: transparent !important;
}

@media only screen and (max-width: 700px) {
    .App-Book {
        width: 100% !important;
    }
}

@media only screen and (max-width: 1000px) {
    .App-Book {
        width: 60% !important;
    }
}

@media only screen and (max-width: 800px) {
    .App-Book {
        width: 80% !important;
    }
}
