.flex-center {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.social-icon {
    color: #ffffff;
    transition: all 0.3s ease-in-out; 
}

.discord:hover {
    color: #5865f2;
    cursor: pointer;
    transform: scale(1.5);
}

.instagram:hover {
    color: #bc2a8d; 
    cursor: pointer;
    transform: scale(1.5);


}

.tiktok:hover {
    color: #69c9d0; 
    cursor: pointer;
    transform: scale(1.5);


}

.youtube:hover {
    color: #ff0000; 
    cursor: pointer;
    transform: scale(1.5);


}
